{% extends 'base.html' %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mylibrary.css') }}">
    <script src="{{ url_for('static', filename='js/shop.js') }}" defer></script>

{% endblock%}

{%block conteudo %}

<main>

    <div class="section-description">
        {% if user %}

            <div class="section-description-item">
                <img src="{{ url_for('static', filename='img/books.jpg') }}" alt="category1">
            </div>
            <div class="section-description-item">
                
                <h3>{{ user.username_user }}</h3>
                <p>{{user.email_user}}</p>

            </div>
        {% endif %}
    </div>

   

    <div class="section-perfil">
        <div class="section-perfil-item">
            <p>Lidos</p>
            <p>9</p>
        </div>
        <div class="section-perfil-item">
            <p>Lendo</p>
            <p>9</p>
        </div>
        <div class="section-perfil-item">
            <p>Quero ler</p>
            <p>9</p>
        </div>
        <div class="section-perfil-item">
            <p>Relendo</p>
            <p>9</p>
        </div>
        <div class="section-perfil-item">
            <p>Abandonei</p>
            <p>9</p>
        </div>
        <div class="section-perfil-item">
            <p>Resenha</p>
            <p>9</p>
        </div>

    </div>

    <!--Somente 4 livros do banco de dados em cada página, você pode realizar a consulta com limitação e paginação diretamente no banco de dados utilizando o método limit()-->
    <div class="books-container">
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>

        <div class="section-books">
            {% for book in books %}
            <div class="section-books-item">
                <div class="section-item">
                    <div class="book-information">
                        <img src="{{ url_for('static', filename='img/books.jpg') }}" alt="category1">
                    </div>
                       
                    <div class="book-information">
                        <h3>{{ book.title }}</h3>
                        <p>Author: {{ book.author }}</p>
                        <p>Year: {{ book.year }}</p>
                        <p>Price: {{ book.price }}</p>
                        <p>Edition: {{ book.edition }}</p>
                    </div>
    
                </div>
              
            </div>
    
            {% endfor %}
    
        </div>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>

    </div>
    
</main>

{% endblock %}