<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

</head>
<body>
    <main>
        
        <div class="login-container">
            <div class="login-item">
                <form action="/user_register" method="POST">
                    <h2>Register</h2>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="username">Username</label>
                            <input id="username" type="text" name="username" placeholder="Enter your username" >
                        </div>
                        <div class="input-box">
                            <label for="email">Email</label>
                            <input id="email" type="text" name="email" placeholder="Enter your email"  >
                        </div>
                        <div class="input-box">
                            <label for="password">Senha</label>
                            <input id="password" type="password" name="password" placeholder="Enter your password" >
                        </div>
                        <div class="input-box">
                            <button id="buttonRegister" type="submit" >Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
</body>
</html>