main{

    height: 150vh;
    font-family: 'Playfair Display', serif;

}

h3{
    font-size: 20px;
}

.section-description{
    display: flex;
    flex-direction: column;
    padding: auto;
    text-align: center;
    margin: auto;
    height: 45vh;
    width: 80%;
    border-bottom: black 1px solid ;
    font-size: 14px;
    margin-bottom: 100px;
   

}

.section-description-item {
    margin-top: 2rem;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.section-description img{
    width: 10vw;
    height: 25vh;
    border-radius: 10px;
}

.section-perfil{
    display: flex;
    flex-direction: row;
    padding: auto;
    text-align: center;
    margin: auto;
    height: 10vh;
    width: 80%;
}

.section-perfil-item {
    padding: 10px;
    background-color: #e5d5d7;
    margin: 20px;
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
}

.books-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.books-container button {

    margin: 3rem;
    width: 4vw;
    height: 5vh;
    background-color: #e7b896;
    border: none;
    border-radius: 10px;
}

.books-container button:hover {
    background-color: #000;
    color: white;
}

.section-books{
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    padding: 3rem;

}




.section-books-item img{
    width: 10vw;
    height: 25vh;
    border-radius: 10px;
}

.section-books-item {
    width: 15vw;
    background-color: #e5d5d7;
    border-radius: 20px;
    height: 50vh;

}

.section-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;


}

.book-information{
   
    margin: 0.5rem auto;
}

.book-information img{
    width: 13vw;
    height: 25vh;
}

.book-information img{

    
    margin: 0.5rem auto;
}